/* 공통적인 부분 */

/* root : 최상위 */
:root[color-theme="home"] {
    --backGround: #830000;
    --boxColor: #fff;
    --fontColor: #fff;
}

:root[color-theme="away"] {
    --backGround: #F5F1F1;
    --boxColor: #000;
    --fontColor: #000;
}

.bold {
    font-weight: bold;
}

.whiteFont {
    color: var(--fontColor)
}

.whiteBackGround {
    background-color: var(--boxColor);
}

/* 
   (아래쪽) 일단 이렇게 하면 단점이 클래스 이름이 길어짐
   그래서 중요한 것이나 자주 쓰이는 부분만 이렇게 적는것이 좋다.
   (예를 들면 버튼크기라던지...)
*/
.fontSize2rem {
    font-size: 2rem;
}

.fontSize5rem {
    font-size: 5rem;
}

.fontSize7rem {
    font-size: 7rem;
}

.fontSize8rem {
    font-size: 8rem;
}

.fontSize10rem {
    font-size: 10rem;
}

.fontSize15rem {
    font-size: 15rem;
}

.line80 {
    line-height: 80%;
}

.whiteBoxWidth {
    width: 100%;
    background-color: #fff;
    border-radius: 1rem;
    position: relative;
    z-index: 7;
}

.whiteBox7rem {
    height: 7rem;
}

.whiteBox13rem {
    height: 13rem;
}

.whiteBox17rem {
    height: 17rem;
}

.whiteBox20rem {
    height: 20rem;
}

.centerTextBox {
    padding-top: 1.5rem;
    width: 100%;
    height: 40rem;
    text-align: center;
}

.centerTextBox2 {
    padding-top: 1.5rem;
    width: 100%;
    height: 15rem;
    text-align: center;
}

.subject {
    padding-top: 2rem;
    padding-left: 11rem;
}

.cup {
   height: 3rem; 
   display: inline-flex;
}

